<app-section-title titulo="Tablón"></app-section-title>
<ul class="list-group">
    <li class="list-group-item item-lista" 
    *ngFor="let item of noticias; let i = index">
      <a [href]="item.url"  target="_blank">
        <div class="row">
          <div class="col-md-2 m-0 pt-1 item-normativa item-normativa-fecha">
              {{item.fecha}} 
          </div>
          <div class="col-md-3 m-0 pt-0 item-normativa item-normativa-tipo">
                {{item.canal}}
          </div>
          <div class="col-md-7 m-0 p-1 item-normativa item-normativa-titulo">
            <div>
              {{item.titulo | titlecase}}
            </div>
          </div>
        </div> 
      </a>
    </li>  
  </ul>
  