<div class="row row-cols-1 row-cols-md-4 g-4 card-container">
    <div class="col">
        <div class="card custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <mat-icon class="icon-card">badge</mat-icon>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-name">Portal del Empleado</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <mat-icon class="icon-card">chat</mat-icon>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-name">Chat Bot</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <mat-icon class="icon-card">engineering</mat-icon>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-name">Portal de Averías</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <mat-icon class="icon-card">account_balance</mat-icon>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-name">Ruralvía</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
